<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Agregar auditor</title>
</head>
<body>
<h1>Insertar</h1>
<form action="#" th:action="@{/agregarAuditor}" th:object="${auditor}" method="post">
    <label for="nombre">Nombre</label>
    <input type="text" th:field="*{nombre}"  id="nombre"/>
    <label for="apellido1">Apellido 1</label>
    <input type="text" th:field="*{apellido1}"  id="apellido1"/>
    <label for="apellido2">Apellido 2</label>
    <input type="text" th:field="*{apellido2}"  id="apellido2"/>
    <br/>
    <label for="direccion">Direccion</label>
    <input type="text" th:field="*{direccion}"  id="direccion"/>
    <label for="telefono">Telefono</label>
    <input type="number" th:field="*{telefono}"  id="telefono"/>
    <br/>
    <label for="email">Correo electronico</label>
    <input type="email" th:field="*{email}"  id="email"/>
    <label for="disponibilidad">Disponibilidad</label>
    <select th:field="*{disponibilidad}" id="disponibilidad">
        <option th:value="D">Disponible</option>
        <option th:value="ND">No disponible</option>
    </select>
    <br/>
    <label for="especialidad">Especialidad</label>
    <select th:field="*{especialidad}" id="especialidad">
        <option th:value="ISO-Calidad">ISO-Calidad</option>
        <option th:value="ISO-Procesos">ISO-Procesos</option>
        <option th:value="ISO-Salubridad">ISO-Salubridad</option>
        <option th:value="SL">Seguridad Laboral</option>
        <option th:value="STI">Seguridad de TI</option>
    </select>
    </br>
    <input type="submit" value="Registrar">
</form>
<a href="/">Volver al principal</a>
</body>
</html>