<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="Content-Type" content="text/html"></meta>
    <title>TeLoAuditoYTeCobro</title>
</head>
<body>
<div>
    <h1>¡TeLoAuditoYTeCobro!</h1>
    <a href="/agregarAuditor">Registrar auditor</a>
    </br>
    </br>
    <a href="/verAuditores">Ver auditores</a>
    </br>
    </br>
    <a href="/agregarCliente">Registrar clientes</a>
    </br>
    </br>
    <a href="/verClientes">Ver clientes</a>
    </br>
    </br>
    <a href="/agregarVisita">Registrar visita</a>
    </br>
    </br>
    <a href="/verVisitas">Ver visitas</a>

</div>
</body>
</html>