<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="Content-Type" content="text/html"></meta>
    <title>Clientes</title>
</head>
<body>
<div>
    <ul>
        <div th:each="entry,status : ${clientes}">
            <li>
                <div>
                    <div>
                        <h4>
                            <span th:text="${entry.razonSocial}"></span>
                        </h4>
                        <p>
                            C&eacute;dula Jur&iacute;dica:
                            <span th:text="${entry.cedulaJuridica}"></span>
                            <br>
                            Direcci&oacute;n:
                            <span th:text="${entry.direccion}"></span>
                            <br>
                            Tel&eacute;fono:
                            <span th:text="${entry.telefono}"></span>
                            <br>
                        </p>
                    </div>
                </div>
                <div>
                    <h2>Contactos</h2>
                    <ul>
                        <div th:each="entry2,status : ${entry.getContactos()}">
                            <li>
                                <div>
                                    <div>
                                        <h4>
                                            <span th:text="${entry2.nombre}"></span>
                                            <span th:text="${entry2.apellido1}"></span>
                                            <span th:text="${entry2.apellido2}"></span>
                                        </h4>
                                        <p>
                                            Telefono:
                                            <span th:text="${entry2.telefono}"></span>
                                            <br>
                                            Email:
                                            <span th:text="${entry2.email}"></span>
                                        </p>
                                    </div>
                                </div>
                                <div>
                                </div>
                                <a th:href="@{/editarContacto/{id}(id=${entry2.id})}">Editar</a>
                                <a th:href="@{/borrarContacto/{id}(id=${entry2.id})}">Borrar</a>
                            </li>
                        </div>
                    </ul>

                </div>
                <a th:href="@{/agregarContacto/{id}(id=${entry.id})}">Agregar contactos</a>
            </li>
        </div>
    </ul>
</div>
<a href="/">Volver al principal</a>
</body>
</html>